# ignore the data folder
data/

# python cache and jupyter nb cache
__pycache__/
.ipynb_checkpoints/

# python virtual environment
venv/

# env files
.env

# .idea config
.idea/

scripts/data_visualization/data.csv